@import "./header";
@import "./footer";
.char{
    .container{
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
          h2{
              font-size: 35px;
          }    
          p{
              color: darkslategrey;
              width: 400px;
             
            }
          
          li{
              padding: 10px;
          }
          .char-list{
            transition: 0.7s;
            animation-name: translate;
            animation-delay: 1s;
            animation-iteration-count: 2;
            animation-direction: alternate-reverse;
            animation-duration: 5s;
          }
          .char-img{
              animation-name: Scale;
              transition: 0.7s;
              animation-duration: 3s;
              animation-delay: 1s;
              animation-iteration-count: 2;
              animation-direction: alternate-reverse;
          }
    }
}

.graph{
    margin-top: 60px;
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li{
            padding: 15px;
        }
        p{
            font-size: 20px;
            line-height: 30px;
            word-spacing: 2px;           
        }    
        .graph-text{
            transition: 0.7s;
            animation-name: Translate;
            animation-delay: 1s;
            animation-iteration-count: 2;
            animation-direction: alternate-reverse;
            animation-duration: 5s;
             
        }  
        .graph-img{
            transition: 0.7s;
            animation-name: Image;
            animation-delay: 1s;
            animation-iteration-count: 2;
            animation-direction: alternate-reverse;
            animation-duration: 5s;

        }
    }
}

.title{
    margin-top: 80px;
    text-align: center;
    font-size: 35px;
}

.line{
    margin-top: 50px;
    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    ul{
        text-align: center;
        li{
            padding: 6px;
        }
        h2{
             font-size: 30px;
        }
        p{
            color: darkslategray;
            font-size: 20px;
        }
      
    }
    .line-img{
        transition: 0.7s;
        animation-name: Rotate;
        animation-delay: 1s;
        animation-iteration-count: 2;
        animation-direction: alternate-reverse;
        animation-duration: 5s;
    }
    h2,p{
        transition: 0.7s;
        animation-name: Translate;
        animation-delay: 1s;
        animation-iteration-count: 2;
        animation-direction: alternate-reverse;
        animation-duration: 5s;
         
    }
}
.bar{
    margin-top: 50px;
    .container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: darkturquoise;
        padding: 10px;
    } 
    li{
        padding: 20px;
        h2{
            font-size: 35px;
            width: 80%;
            color: white;
        }
        .input-name{
          width: 400px;
          height: 50px;
          border: none;
        }
        .input-text{
            width: 400px;
            height: 100px;
            border: none;
          align-items: flex-start;
        }
        .bar-btn{
            text-align: end;
            width: 100px;
            font-size: 16px;
            align-items: flex-end;
        }
    }
    iframe{
        transition: 0.7s;
        animation-name: Image;
        animation-delay: 1s;
        animation-iteration-count: 2;
        animation-direction: alternate-reverse;
        animation-duration: 5s;
    }
    h2{
        transition: 0.7s;
        animation-name: translate;
        animation-delay: 1s;
        animation-iteration-count: 2;
        animation-direction: alternate-reverse;
        animation-duration: 5s;
    }
    button{
        transition: 0.7s;
        animation-name: Rotate;
        animation-delay: 1s;
        animation-iteration-count: 2;
        animation-direction: alternate-reverse;
        animation-duration: 5s;
    }


}

@media(max-width:520px){
    .container{
        width: 400px;
    }
    .char{
        .container{
            display: flex;
            flex-direction: column;
        
        img{
            width: 300px;
        }
        .char-text{
            width: 350px;
        }
    }
    }
    
    .graph{
        p, img, iframe{
            width: 350px;
            position: relative;
            text-align: center;
        }
        iframe{
            height: 250px;
        }  
    }
    .line-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        ul{
            padding-bottom: 50px;
        }
    }

    .bar{
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
              
            .input-name, .input-text{
                width: 300px;
                margin-left: 40px;
            }
            button{
                margin-left: 200px;
            }
        }
        iframe{
            width: 300px;
            height: 250px;
        }
       
    }
         .footer{
             .container{
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 align-items: center;
             }
         }
             .header{
               .container{
                   ul{
                       h2{
                           width: 100px;
                           font-size: 20px;
                       }
                   }
               }
             }
        }


