* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: white;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: white;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: white;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header h2 {
  color: #2F2F2F;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.header li {
  padding: 20px;
}

.header a {
  color: #828282;
}

.header a:hover {
  text-decoration: underline;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: white;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.main-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-icon {
  width: 30px;
}

.main-title {
  font-size: 40px;
}

.main-text {
  color: grey;
  font-size: 25px;
}

.main-item {
  padding: 10px;
}

.main-right {
  margin-top: 100px;
}

.main-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-center-item {
  padding: 10px;
}

.main-center-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-btn {
  width: 130px;
  padding: 10px;
  background-color: orange;
  opacity: 0.8;
  border: none;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-subtitle {
  padding-top: 8px;
  padding-left: 10px;
  color: white;
}

.main-button {
  background-color: white;
  border: 2px solid orange;
  width: 160px;
}

.main-subtitlee {
  font-size: 15px;
  padding-top: 5px;
  padding-left: 10px;
}

.box-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-main-list2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.box-title {
  font-size: 50px;
}

.box-text {
  width: 70%;
  text-align: center;
  position: relative;
  right: -15%;
  font-size: 25px;
  line-height: 40px;
}

.box-main {
  padding: 10px;
}

.box-main {
  padding-bottom: 90px;
}

li.box-main-item {
  padding-bottom: 50px;
}

.box-title {
  padding-bottom: 30px;
}

.box-flex {
  background-color: whitesmoke;
  padding: 50px;
  border-radius: 20px;
}

.title-flex {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

.title {
  color: darkslategray;
  font-size: 35px;
}

.title-btn {
  width: 130px;
  font-size: 18px;
  text-align: center;
  padding-left: 20px;
}

.project-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-main-item {
  padding-right: 30px;
}

.project-item {
  padding-bottom: 15px;
}

.titul {
  margin-top: 60px;
  text-align: center;
  font-size: 45px;
}

.content-flex {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-item {
  padding-bottom: 10px;
}

.content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-title {
  font-size: 30px;
  color: darkslategrey;
}

.content-text {
  color: darkgrey;
  font-size: 20px;
  width: 80%;
  position: relative;
  right: -15%;
}

.segment-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background-color: rgba(255, 166, 0, 0.63);
}

.segment {
  margin-top: 70px;
}

.segment-item {
  padding-top: 10px;
}

.segment-btn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(255, 166, 0, 0.63);
}

.segment-title {
  font-size: 35px;
  width: 45%;
}

.segment-button {
  background-color: white;
  color: black;
}

.segment-subtitle {
  color: black;
}

.images {
  padding-top: 30px;
  text-align: center;
}

.titlee {
  text-align: center;
  width: 35%;
  position: relative;
  right: -35%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.title-flexx {
  background-color: darkturquoise;
}

.title0 {
  margin-top: 70px;
}

.leg-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: darkturquoise;
  padding-top: 50px;
  padding-bottom: 40px;
  align-items: center;
  text-align: center;
}

.titlee {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  left: 10%;
  top: 20%;
  margin-bottom: 50px;
}

.flex-leg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px;
}

.leg-list {
  padding-top: 10px;
  border: 2px solid white;
  background-color: white;
  width: 350px;
  border-radius: 20px;
  border-top-right-radius: 1%;
}

.leg-text {
  font-size: 20px;
  width: 90%;
  text-align: center;
  padding-bottom: 40px;
}

.leg-item {
  padding: 10px;
}

.leg-img {
  width: 300px;
}

.header-img {
  width: 30px;
  display: none;
}

@media (max-width: 520px) {
  .container {
    width: 400px;
  }
  .header a {
    display: none;
  }
  .header img {
    display: inline;
  }
  .main-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-flex .main-right img {
    width: 350px;
    padding-bottom: 20px;
  }
  .main-flex .main-left h2 {
    font-size: 30px;
  }
  .main-flex .main-left .image {
    width: 200px;
    padding-left: 50px;
  }
  .main-flex .main-left .main-text, .main-flex .main-left .main-title {
    font-size: 20px;
    line-height: 30px;
  }
  .box .box-img {
    display: none;
  }
  .box .box-main-img {
    width: 200px;
  }
  .box .box-main-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .box h2 {
    font-size: 30px;
  }
  .box p {
    font-size: 15px;
  }
  .title h2 {
    font-size: 30px;
    padding-right: 100px;
  }
  .title button {
    font-size: 12px;
    width: 100px;
  }
  .project .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project .container .project-img {
    width: 350px;
  }
  .project .container .project-main-img {
    width: 150px;
  }
  .titul {
    text-align: center;
    padding-left: 100px;
    font-size: 40px;
  }
  .content .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content p {
    font-size: 20x;
    width: 60%;
    position: relative;
    right: -25%;
    padding-bottom: 20px;
  }
  .segment .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .segment .container h2 {
    text-align: center;
    width: 100%;
  }
  .images {
    display: none;
  }
  .title0 h2 {
    font-size: 30px;
    position: relative;
    left: 12%;
  }
  .leg .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .leg .container ul {
    margin-bottom: 30px;
  }
}

.main-img {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: Image;
          animation-name: Image;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.main-icon {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: Image;
          animation-name: Image;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.box-img, .box-title, .title {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: Scale;
          animation-name: Scale;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.box-main-img, .content-title {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: translate;
          animation-name: translate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.main-center-list button {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: Rotate;
          animation-name: Rotate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.project-main-img, .leg-list {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: Rotate;
          animation-name: Rotate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.main-item, .box-text, .project-title, .content-text {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: Translate;
          animation-name: Translate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.project-img, .contnet-img {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: Image;
          animation-name: Image;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes Scale {
  from {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
  to {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
}

@keyframes Scale {
  from {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
  to {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
}

@-webkit-keyframes translate {
  from {
    -webkit-transform: translate(-50px, -50px);
            transform: translate(-50px, -50px);
  }
  to {
    -webkit-transform: translate(50px, 50px);
            transform: translate(50px, 50px);
  }
}

@keyframes translate {
  from {
    -webkit-transform: translate(-50px, -50px);
            transform: translate(-50px, -50px);
  }
  to {
    -webkit-transform: translate(50px, 50px);
            transform: translate(50px, 50px);
  }
}

@-webkit-keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes Translate {
  from {
    -webkit-transform: translate(-50px);
            transform: translate(-50px);
  }
  to {
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
}

@keyframes Translate {
  from {
    -webkit-transform: translate(-50px);
            transform: translate(-50px);
  }
  to {
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
}

@-webkit-keyframes Image {
  to {
    -webkit-transform: scale(0.6, 0.6);
            transform: scale(0.6, 0.6);
  }
}

@keyframes Image {
  to {
    -webkit-transform: scale(0.6, 0.6);
            transform: scale(0.6, 0.6);
  }
}

.container {
  background-color: white;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: darkseagreen;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.footer ul h2 {
  color: darkslategrey;
}

.footer li {
  padding: 8px;
}

.footer li p {
  padding-top: 5px;
}

.footer a {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: white;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: white;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header h2 {
  color: #2F2F2F;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.header li {
  padding: 20px;
}

.header a {
  color: #828282;
}

.header a:hover {
  text-decoration: underline;
  color: black;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: darkseagreen;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.footer ul h2 {
  color: darkslategrey;
}

.footer li {
  padding: 8px;
}

.footer li p {
  padding-top: 5px;
}

.footer a {
  color: white;
}

.char .container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.char .container h2 {
  font-size: 35px;
}

.char .container p {
  color: darkslategrey;
  width: 400px;
}

.char .container li {
  padding: 10px;
}

.char .container .char-list {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: translate;
          animation-name: translate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.char .container .char-img {
  -webkit-animation-name: Scale;
          animation-name: Scale;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  animation-direction: alternate-reverse;
}

.graph {
  margin-top: 60px;
}

.graph .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.graph .container li {
  padding: 15px;
}

.graph .container p {
  font-size: 20px;
  line-height: 30px;
  word-spacing: 2px;
}

.graph .container .graph-text {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: Translate;
          animation-name: Translate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.graph .container .graph-img {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: Image;
          animation-name: Image;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.title {
  margin-top: 80px;
  text-align: center;
  font-size: 35px;
}

.line {
  margin-top: 50px;
}

.line .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line ul {
  text-align: center;
}

.line ul li {
  padding: 6px;
}

.line ul h2 {
  font-size: 30px;
}

.line ul p {
  color: darkslategray;
  font-size: 20px;
}

.line .line-img {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: Rotate;
          animation-name: Rotate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.line h2, .line p {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: Translate;
          animation-name: Translate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.bar {
  margin-top: 50px;
}

.bar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: darkturquoise;
  padding: 10px;
}

.bar li {
  padding: 20px;
}

.bar li h2 {
  font-size: 35px;
  width: 80%;
  color: white;
}

.bar li .input-name {
  width: 400px;
  height: 50px;
  border: none;
}

.bar li .input-text {
  width: 400px;
  height: 100px;
  border: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bar li .bar-btn {
  text-align: end;
  width: 100px;
  font-size: 16px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bar iframe {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: Image;
          animation-name: Image;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.bar h2 {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: translate;
          animation-name: translate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.bar button {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: Rotate;
          animation-name: Rotate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@media (max-width: 520px) {
  .container {
    width: 400px;
  }
  .char .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .char .container img {
    width: 300px;
  }
  .char .container .char-text {
    width: 350px;
  }
  .graph p, .graph img, .graph iframe {
    width: 350px;
    position: relative;
    text-align: center;
  }
  .graph iframe {
    height: 250px;
  }
  .line-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .line-flex ul {
    padding-bottom: 50px;
  }
  .bar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bar .container .input-name, .bar .container .input-text {
    width: 300px;
    margin-left: 40px;
  }
  .bar .container button {
    margin-left: 200px;
  }
  .bar iframe {
    width: 300px;
    height: 250px;
  }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .container ul h2 {
    width: 100px;
    font-size: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: white;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: white;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header h2 {
  color: #2F2F2F;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.header li {
  padding: 20px;
}

.header a {
  color: #828282;
}

.header a:hover {
  text-decoration: underline;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: white;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: darkseagreen;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.footer ul h2 {
  color: darkslategrey;
}

.footer li {
  padding: 8px;
}

.footer li p {
  padding-top: 5px;
}

.footer a {
  color: white;
}

.title .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.title .container .title-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title .container p {
  font-size: 25px;
  padding: 10px;
  padding-right: 20px;
}

.title .container p:hover {
  color: orangered;
  text-decoration: underline;
}

.map .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map .container img {
  padding: 10px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: Rotate;
          animation-name: Rotate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.map .container .map-img {
  padding-top: 40px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-name: Image;
          animation-name: Image;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.map .container .map-icon {
  padding-bottom: 40px;
}

.segment .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.segment .container h2 {
  text-align: left;
  width: 80%;
}

@media (max-width: 520px) {
  .container {
    width: 400px;
  }
  .title .container ul li h2 {
    font-size: 25px;
  }
  .title .container ul li p {
    font-size: 15px;
  }
  .map .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .map img {
    width: 400px;
  }
  .map .map-icon {
    width: 300px;
    padding-left: 30px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: white;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: white;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: white;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header h2 {
  color: #2F2F2F;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.header li {
  padding: 20px;
}

.header a {
  color: #828282;
}

.header a:hover {
  text-decoration: underline;
  color: black;
}
body{
  background-color: white;
}
/*# sourceMappingURL=main.css.map */